<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="best_price_products_listing_data_source" xsi:type="string">
                    Tsg\BestPrice\Model\ResourceModel\BestPrice\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Tsg\BestPrice\Model\ResourceModel\BestPrice\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">best_price_products</argument>
            <argument name="resourceModel" xsi:type="string">Tsg\BestPrice\Model\ResourceModel\BestPrice</argument>
        </arguments>
    </virtualType>
    
</config>