<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tsg_BestPrice::form" title="Best Price" module="Tsg_BestPrice"
             sortOrder="11" resource="Tsg_BestPrice::form" action="best_price/product/index"/>
    </menu>
</config>