<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="tsg" translate="label" sortOrder="10">
            <label>Tsg</label>
        </tab>
        <section id="best_price_form" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Admin Form</label>
            <tab>tsg</tab>
            <!--            <resource>Tsg_BestPrice::form_config</resource>-->
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="is_enabled" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>is_enabled</label>
                </field>
                <field id="block_name" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>block_name</label>
                </field>
                <field id="min_price" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>min_price</label>
                </field>
                <field id="max_price" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>max_price</label>
                </field>
                <field id="work_mode" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>work_mode</label>
                </field>
            </group>
        </section>
    </system>
</config>